<!DOCTYPE html>
<html lang="en">

<head>
    <title>wounderfulchina</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .dropdown-menu a:hover {
            background-color: #4b5866;
        }
    </style>

</head>

<body>

    <div class="container-fluid">
        <!-- 导航栏 -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" style="height: 8%;">
            <a class="navbar-brand" href="index">HOME</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="subscribe_article">文章订阅</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">仓管系统</a>
                        <div class="dropdown-menu" style="background-color: #343a40;">
                            <a class="dropdown-item" style="color: #fafbfb;" href="input"><span>录入</span></a>
                            <a class="dropdown-item" style="color: #fafbfb;" href="query_web">查询</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">格式转换</a>
                    </li>
                </ul>
            </div>
        </nav>
        <br /> <br />

        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="Logo.jpeg" alt="" width="150">
            <h3> <span class="text-muted">文章订阅</span></h3>
            <p class="lead"
                style="margin-top: 30px; margin-left: 300px; margin-bottom: 10px; margin-right: 300px; font-size: 18px;">
                补充下面的信息，即刻起订阅您感兴趣的文章。随着受众的增加，我们会根据大家的需求逐步增加所支持订阅期刊的种类。我们保证不会泄漏您的私人信息</p>
        </div>

        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-5">
                <form action="http://localhost:5000/submit_info" method="POST">
                    <h4 class="md-3"> 基本信息 </h4>
                    <br />
                    <div class="mb-3">
                        <label for="username">姓名</label>
                        <input type="text" class="form-control" name="name" id="firstName" placeholder="" value=""
                            required="" style="width: 50%;">
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="you@example.com"
                            required="">
                        <div class="invalid-feedback">
                            Please enter a valid email address for shipping updates.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="institution">单位</label>
                        <input type="text" class="form-control" name="institution" id="institution" placeholder=""
                            required="">
                        <div class="invalid-feedback">
                            Please enter a valid affi.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="article"> 领域期刊</label>
                        <select class="custom-select d-block w-100" name="article" id="journal" required="">
                            <option value="">Choose...</option>
                            <option>arXiv-quant-ph</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid journal.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="author"> 作者(与关键字可同时选，也可单独选)</label>
                            <input type="text" class="form-control" name="author" id="author" placeholder="">
                            <div class="invalid-feedback">
                                Please enter a valid author.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="keywords"> 关键字(与作者可同时选，也可单独选)</label>
                            <input type="text" class="form-control" name="keywords" id="keywords" placeholder="">
                            <div class="invalid-feedback">
                                Please enter a valid keywords.
                            </div>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <div class="col text-center">
                        <button class="btn btn-primary" style="width: 50%;" type="submit">提交</button>
                    </div>
                    <br /> <br />
                </form>
            </div>

            <div class="col-md-3">
                <form action="http://localhost:5000/delete_info" method="POST">
                    <div class="card bg-secondary text-white">
                        <div class="card-body">
                            <h4>删除信息</h4>
                            <p style="color: rgb(253, 6, 6);">一经删除无法复原，请谨慎操作！</p>
                            <div class="mb-3">
                                <label for="delName">姓名</label>
                                <input type="text" class="form-control" name="delName" id="delName" placeholder=""
                                    value="" required="" style="width: 50%;">
                                <div class="invalid-feedback">
                                    Valid first name is required.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" name="delEmail" id="email"
                                    placeholder="you@example.com">
                                <div class="invalid-feedback">
                                    Please enter a valid email address for shipping updates.
                                </div>
                            </div>
                            <hr class="mb-4">
                            <div class="col text-center">
                                <button class="btn btn-light" style="width: 50%;" type="submit">提交</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2">

            </div>

        </div>

    </div>

    <!-- 底部内容 -->
    <div style="background-color: black; padding:1%;">
        <p style="color: antiquewhite; text-align: center ">Copyright@www.wounderfulchina.com</p>
    </div>
    </div>



</body>

</html>